<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >



<suite name="OCE_Engage_V1">

	<listeners>
		<listener class-name="com.oceengage.utilities.Reporting"/>
	</listeners>

	<test name="OCE Engage App Testing chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="com.oceengage.testCases.TC_Loging_001" /> -->
		    <class name="com.oceengage.testCases.TC_Initiation_002" />
		   	<!--  <class name="com.oceengage.testCases.TC_Loging_001" />  -->

		</classes>
	</test>

</suite>